.product-card {
  display: grid;
  grid-template-areas: "img img" "nome nome" "preco link";
  font-size: 1.25rem;
  max-width: 600px;
  background-color: #fcfdff;
  box-shadow: 0px 0px 5px 0px rgb(21 22 81 / 65%);
  border-radius: 10px;
  padding: 1.5rem;
}

.product-card_nome {
  grid-area: nome;
  font-weight: 600;
}

.product-card_preco {
  grid-area: preco;
  font-weight: 600;
}

.product-card_link {
  grid-area: link;
  opacity: 0.7;
}

.product-card_img {
  grid-area: img;
  max-width: 500px;
  max-height: 280px;
  margin: auto;
}
