.app-input {
  border: 2px solid;
  outline: none;
  padding: 1rem;
  transition: 300ms border-color, 300ms border-width;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

.app-input:hover,
.app-input:active {
  border-width: 4px;
}

.app-input--valid {
  border-color: var(--primary-color);
}

.app-input--invalid {
  border-color: var(--error-color);
}
