.form-layout {
  display: grid;
  width: 80%;
  margin: auto;
  gap: 1.25rem;
  align-items: center;
  align-content: center;
  padding: 1rem 0rem;
}

.form-layout--wide {
  max-width: 800px;
}

.form-layout--normal {
  max-width: 600px;
}
