.navbar {
  width: 100%;
  background-color: black;
  height: var(--navbar-size);
  padding: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.navbar a,
.navbar-link-btn {
  color: white;
  font-size: 1rem;
  display: block;
  background: 0;
  outline: 0;
  border: 0;
  font-weight: 600;
  text-decoration: none;
}

.navbar-link--active {
  text-shadow: 2px 2px 4px #ffffff;
}

.navbar-drawer {
  display: none;
  transform: translateX(-100%);
}

.navbar-drawer--visible {
  display: flex;
  position: fixed;
  transform: translateX(0);
  height: 100vh;
  width: 320px;
  z-index: 99;
  background-color: black;
  top: 0;
  left: 0;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;
}

.navbar-icon-btn {
  font-size: 1.75rem;
  color: #fff;
  padding: 0;
}
